.ds-btn {
  font-family: var(--ds-btn-font-family);
  font-size: var(--ds-btn-font-size);
  font-weight: var(--ds-btn-font-weight);
  border: var(--dl-btn-border-width) solid transparent;
  border-radius: var(--ds-btn-border-radius);
  line-height: 1;
  padding: var(--ds-btn-padding);

  &:active,
  &:focus {
    outline: none;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled,
  &:disabled:hover {
    color: #737581;
    background: #e1e1e1;
    border: 1px solid #e1e1e1;
    cursor: not-allowed;
  }

  &-primary {
    color: var(--ds-btn-text-primary);
    background: var(--ds-btn-bg-color-primary);
    border: var(--ds-btn-border-width) solid var(--ds-btn-border-color-primary);

    &:hover {
      background: var(--ds-btn-bg-color-hover-primary);
      border-color: var(--ds-btn-border-color-hover-primary);
    }

    &:active {
      background: var(--ds-btn-bg-color-active-primary);
      border-color: var(--ds-btn-border-color-active-primary);
    }
  }

  &-secondary {
    color: var(--ds-btn-text-secondary);
    background: var(--ds-btn-bg-color-secondary);
    border: var(--ds-btn-border-width) solid
      var(--ds-btn-border-color-secondary);

    &:hover {
      background: var(--ds-btn-bg-color-hover-secondary);
      border-color: var(--ds-btn-border-color-hover-secondary);
    }

    &:active {
      background: var(--ds-btn-bg-color-active-secondary);
      border-color: var(--ds-btn-border-color-active-secondary);
    }
  }

  // Block level button
  &-block {
    display: block;
    width: 100%;

    + .ds-btn-block {
      margin-top: 8px;
    }
  }
}
