.ds-input {
  background: var(--ds-input-background-color);
  border: var(--ds-input-border);
  border-radius: var(--ds-input-border-radius);
  box-sizing: border-box;
  color: var(--ds-input-text-color);
  display: block;
  height: var(--ds-input-height);
  padding: var(--ds-input-padding);
  font-size: var(--ds-input-font-size);
  line-height: var(--ds-input-line-height);
  width: var(--ds-input-width);
  outline: var(--ds-input-outline);

  &::placeholder {
    color: var(--ds-input-placeholder-color);
    opacity: 1;
  }

  &:hover {
    border: var(--ds-input-border-hover);
    -webkit-box-shadow: var(--ds-input-box-shadow);
    box-shadow: var(--ds-input-box-shadow);
  }

  &:focus {
    border: var(--ds-input-border-color-focus);
    -webkit-box-shadow: var(--ds-input-box-shadow-focus);
    box-shadow: var(--ds-input-box-shadow-focus);
    box-sizing: border-box;
    margin-left: var(--ds-input-margin-left-focus);
    margin-right: var(--ds-input-margin-right-focus);
  }

  // disabled
  &:disabled {
    background: var(--ds-input-background-color-disabled);
    border: var(--ds-input-border);
    color: var(--ds-input-text-color);
  }

  &.ds-is-valid,
  &.ds-is-invalid {
    border-width: var(--ds-input-border-with-validation);
    margin-left: var(--ds-input-margin-left-focus);
    margin-right: var(--ds-input-margin-right-focus);
  }

  // validation
  &.ds-is-valid {
    border-color: var(--ds-input-background-color-successs);
  }

  &.ds-is-invalid {
    border-color: var(--ds-input-background-color-error);
  }
}
