.ds-input {
  background: var(--ds-input-background-color);
  border: var(--ds-input-border-width) solid var(--ds-input-border-color);
  border-radius: var(--ds-input-border-radius);
  box-sizing: border-box;
  color: var(--ds-input-text-color);
  display: block;
  height: var(--ds-input-height);
  padding: var(--ds-input-padding);
  box-shadow: inset 0px 2px 0px rgba(225, 228, 232, 0.2);
  font-size: var(--ds-input-font-size);
  line-height: var(--ds-input-line-height);
  width: var(--ds-input-width);
  outline: var(--ds-input-outline);

  &::placeholder {
    color: var(--ds-input-placeholder-color);
    opacity: 1;
  }

  &:focus {
    border: 1px solid #3423cd;
    box-shadow: 3px -3px 0px #bad1f4, -3px 3px 0px #bad1f4, 3px 3px 0px #bad1f4,
      -3px -3px 0px #bad1f4;
  }

  &:disabled {
    background: #f6f8fa;
    border-color: #e1e4e8;
    box-shadow: inset 0px 2px 0px rgba(225, 228, 232, 0.2);
    color: #6a737d;
  }
  &.ds-is-valid {
    border-color: #3aa71f;
  }
  &.ds-is-invalid {
    border-color: #d73a49;
  }
}

.ds-form-group {
  // margin-bottom: 1rem;

  label {
    display: block;
    // margin-bottom: 4px;
  }
}
