.ds-form-label {
  color: var(--ds-form-label-text-color);
  display: block;
  font-size: var(--ds-form-label-font-size);
  line-height: var(--ds-form-label-line-height);
  margin-bottom: var(--ds-form-label-margin-bottom);
}
