.ds-navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background: #ffffff;
  box-sizing: border-box;
  height: 64px;

  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}
