.ds-navbar {
  width: var(--ds-navbar-width);
  height: var(--ds-navbar-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 24px;
  box-sizing: border-box;

  &-dark {
    background: var(--ds-navbar-background-color-dark);
  }

  &-light {
    background: var(--ds-navbar-background-color-light);
  }
  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
  }
}
