.ds-subtitle {
  color: var(--ds-subtitle-text-color);
  box-sizing: border-box;
  font-family: var(--ds-font-family);
  font-size: var(--ds-subtitle-font-size);
  font-weight: var(--ds-subtitle-font-weight);
  line-height: var(--ds-subtitle-line-height);
  margin: 0;
}
