@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');

:root {
  /*=============================================
  =                    Brand                    =
  =============================================*/

  --ds-color-primary: #{$color-primary-00};
  --ds-color-primary-hover: #{$color-primary-10};
  --ds-color-primary-active: #{$color-primary-20};
  --ds-color-primary-disabled: #{$color-neutral-05};

  --ds-color-secondary: #{$color-neutral-00};
  --ds-color-secondary-hover: #{$color-neutral-05};
  --ds-color-secondary-active: #{$color-neutral-20};
  --ds-color-secondary-disabled: #{$color-neutral-05};

  // --ds-color-tertiary: var(--vivid-sky-blue);
  // --ds-color-tertiary-hover: #f3f4f6;
  // --ds-color-tertiary-active: #e7eaee;
  // --ds-color-tertiary-disabled: #fafbfc;

  /*=============================================
  =                Cross variables              =
  =============================================*/
  --toRem: 0.0625rem;

  --ds-spacing-90: 40px;
  --ds-spacing-80: 32px;
  --ds-spacing-70: 24px;
  --ds-spacing-60: 20px;
  --ds-spacing-50: 16px;
  --ds-spacing-40: 12px;
  --ds-spacing-30: 8px;
  --ds-spacing-20: 4px;
  --ds-spacing-10: 2px;
  --ds-spacing-00: 1px;

  /*=============================================
  =                  Typography                 =
  =============================================*/

  // font-family
  --ds-font-family: #{$desktop-heading-1-font-family}, 'HelveticaNeue',
    'Helvetica', 'Arial', sans-serif;

  /*----------  Headings  ----------*/

  // color
  --ds-heading-text-color: #{$color-text-dark};

  // letter spacing
  --ds-heading-letter-spacing: #{$desktop-heading-1-letter-spacing};

  // sizes desktop
  --ds-heading-font-size-lg: calc(
    #{$desktop-heading-1-font-size} * var(--toRem)
  );
  --ds-heading-font-size-md: calc(
    #{$desktop-heading-2-font-size} * var(--toRem)
  );
  --ds-heading-font-size-sm: calc(
    #{$desktop-heading-3-font-size} * var(--toRem)
  );
  --ds-heading-font-size-xs: calc(
    #{$desktop-heading-4-font-size} * var(--toRem)
  );

  // font-weight
  --ds-heading-font-weight-lg: 900;
  --ds-heading-font-weight-md: 700;
  --ds-heading-font-weight-sm: 500;
  --ds-heading-font-weight-xs: 700;

  // headings sizes mobile
  --ds-heading-font-size-lg-mobile: calc(
    #{$mobile-heading-1-font-size} * var(--toRem)
  );
  --ds-heading-font-size-md-mobile: calc(
    #{$mobile-heading-2-font-size} * var(--toRem)
  );
  --ds-heading-font-size-sm-mobile: calc(
    #{$mobile-heading-3-font-size} * var(--toRem)
  );
  --ds-heading-font-size-xs-mobile: calc(
    #{$mobile-heading-4-font-size} * var(--toRem)
  );

  /*----------  Subtitle  ----------*/
  // color
  --ds-subtitle-text-color: #{$color-text-dark};

  // font-size
  --ds-subtitle-font-size: calc(#{$common-subtitle-font-size} * var(--toRem));

  // font-weight
  --ds-subtitle-font-weight: 500;

  // line-height
  --ds-subtitle-line-height: 1.2;

  /*----------  Paragraph  ----------*/
  // color
  --ds-paragraph-text-color: #{$color-text-dark};

  // font-size
  --ds-paragraph-font-size-lg: calc(
    #{$common-body-1-default-font-size} * var(--toRem)
  );

  --ds-paragraph-font-size-md: calc(
    #{$common-body-2-default-font-size} * var(--toRem)
  );

  --ds-paragraph-font-size-sm: calc(
    #{$common-caption-default-font-size} * var(--toRem)
  );

  // font-weight
  --ds-paragraph-font-weight: 400;

  // line-height
  --ds-paragraph-line-height-lg: 1.5;
  --ds-paragraph-line-height-md: 1.5;

  /*=============================================
  =                    Button                   =
  =============================================*/

  // font family
  --ds-btn-font-family: var(--ds-font-family);

  // border width
  --ds-btn-border-width: var(--ds-spacing-00);

  // letter spacing
  --ds-btn-letter-spacing: 0;

  // border radius
  --ds-btn-border-radius: 4px;

  // font size
  --ds-btn-font-size: calc(#{$common-label-font-size} * var(--toRem));

  // font weight
  --ds-btn-font-weight: 500;

  // padding
  --ds-btn-padding: 13px 15px;

  // border radius
  --ds-btn-line-height: 1.25;

  // text color
  --ds-btn-text-primary: #{$color-neutral-00};
  --ds-btn-text-secondary: #{$color-text-dark};

  // background color
  --ds-btn-bg-color-primary: var(--ds-color-primary);
  --ds-btn-bg-color-secondary: var(--ds-color-secondary);

  // background color hover
  --ds-btn-bg-color-hover-primary: var(--ds-color-primary-hover);
  --ds-btn-bg-color-hover-secondary: var(--ds-color-secondary-hover);

  // background color active
  --ds-btn-bg-color-active-primary: var(--ds-color-primary-active);
  --ds-btn-bg-color-active-secondary: var(--ds-color-secondary-active);

  // border color
  --ds-btn-border-color-primary: var(--ds-color-primary);
  --ds-btn-border-color-secondary: #{$color-opacities-dark-20};

  // border color hover
  --ds-btn-border-color-hover-primary: var(--ds-color-primary-hover);
  --ds-btn-border-color-hover-secondary: #{$color-opacities-dark-20};

  // border color active
  --ds-btn-border-color-active-primary: var(--ds-color-primary-active);
  --ds-btn-border-color-active-secondary: #{$color-opacities-dark-20};

  /*----------  disabled state  ----------*/

  // text
  --ds-btn-text-primary-disabled: #{$color-text-medium};
  --ds-btn-text-secondary-disabled: #{$color-text-medium};

  // background
  --ds-btn-bg-primary-disabled: #{$color-neutral-05};
  --ds-btn-bg-secondary-disabled: #{$color-neutral-05};

  // border
  --ds-btn-border-color-primary-disabled: #{$color-opacities-dark-10};
  --ds-btn-border-color-secondary-disabled: #{$color-opacities-dark-10};

  /*=============================================
  =                    Navbar                   =
  =============================================*/

  --ds-navbar-height: 56px;
  --ds-navbar-width: 100%;

  --ds-navbar-background-color-dark: #{$color-secondary-00};
  --ds-navbar-background-color-light: #{$color-neutral-00};

  /*=============================================
  =                 Form Group                  =
  =============================================*/
  --ds-form-margin-bottom: var(--ds-spacing-50);

  /*=============================================
  =                 Form Label                  =
  =============================================*/
  --ds-form-label-text-color: #{$color-text-dark};
  --ds-form-label-font-size: var(--ds-paragraph-font-size-md);
  --ds-form-label-line-height: 1.5;
  --ds-form-label-margin-bottom: var(--ds-spacing-30);

  /*=============================================
  =                 Form Input                  =
  =============================================*/
  --ds-input-background-color: #{$color-neutral-00};
  --ds-input-border: var(--ds-spacing-00) solid #{$color-neutral-20};
  --ds-input-border-radius: var(--ds-spacing-20);
  --ds-input-placeholder-color: #{$color-text-light};
  --ds-input-text-color: #{$color-text-dark};
  --ds-input-height: var(--ds-spacing-90);
  --ds-input-padding: 8px 12px;
  --ds-input-font-size: 1rem;
  --ds-input-line-height: 1.5;
  --ds-input-width: 100%;
  --ds-input-outline: none;

  // hover
  --ds-input-border-hover: var(--ds-spacing-00) solid #{$color-neutral-40};
  --ds-input-box-shadow: 1px 0px 1px 4px #{$color-opacities-dark-05};

  // focus
  --ds-input-border-color-focus: var(--ds-spacing-10) solid #{$color-secondary-00};
  --ds-input-box-shadow-focus: 1px 0px 1px 4px rgba(49, 64, 93, 0.15);
  --ds-input-margin-left-focus: -1px;
  --ds-input-margin-right-focus: -1px;

  // disabled
  --ds-input-background-color-disabled: #{$color-neutral-05};
  --ds-input-border: var(--ds-spacing-00) solid #{$color-neutral-20};
  --ds-input-text-color: #{$color-text-medium};

  // validation
  --ds-input-background-color-error: #{$color-feedback-error-dark};
  --ds-input-background-color-successs: #{$color-feedback-success-dark};
  --ds-input-border-with-validation: var(--ds-spacing-10);

  /*=============================================
  =                 Form Text                  =
  =============================================*/
  --ds-form-text-text-color: #{$color-text-light};
  --ds-form-text-font-size: var(--ds-paragraph-font-size-sm);
  --ds-form-text-line-height: 1.5;
  --ds-form-text-margin-top: var(--ds-spacing-30);
}
