$color-primary-00: #a623ce;
$color-primary-10: #9520b9;
$color-primary-20: #851ca5;
$color-primary-40: #64157c;
$color-primary-60: #420e52;
$color-primary-80: #210729;
$color-secondary-00: #3423cd;
$color-secondary-10: #2f20b9;
$color-secondary-20: #2a1ca4;
$color-secondary-40: #1f157b;
$color-secondary-60: #150e52;
$color-secondary-80: #0a0729;
$color-neutral-10: #e6e6e6;
$color-neutral-20: #cdcdcd;
$color-neutral-40: #9a9a9a;
$color-neutral-60: #686868;
$color-neutral-80: #282828;
$color-neutral-00: #ffffff;
$color-neutral-05: #f2f2f2;
$color-feedback-success-light: #e3f2e0;
$color-feedback-success-medium: #8dc881;
$color-feedback-success-dark: #459a33;
$color-feedback-warning-light: #f8f3d8;
$color-feedback-warning-medium: #e2ca64;
$color-feedback-warning-dark: #c9a81c;
$color-feedback-error-light: #f7e6e1;
$color-feedback-error-medium: #e29583;
$color-feedback-error-dark: #b64d34;
$color-feedback-information-light: #ebf7f6;
$color-feedback-information-medium: #c0ece8;
$color-feedback-information-dark: #71c9c1;
$color-background-primary: #f5f1ea;
$color-background-secondary: #2a1ca4;
$color-background-helper: #fafafa;
$color-icon-light-light: #9a9a9a;
$color-icon-light-dark: #3423cd;
$color-icon-dark-light: #9a9a9a;
$color-icon-dark-dark: #ffffff;
$color-text-light: #9a9a9a;
$color-text-medium: #818181;
$color-text-dark: #282828;
$color-text-heading: #3423cd;
$color-text-link: #a623ce;
$color-opacities-dark-10: rgba(0, 0, 0, 0.1);
$color-opacities-dark-20: rgba(0, 0, 0, 0.2);
$color-opacities-dark-40: rgba(0, 0, 0, 0.4);
$color-opacities-dark-80: rgba(0, 0, 0, 0.8);
$color-opacities-dark-05: rgba(0, 0, 0, 0.05);
$color-opacities-light-10: rgba(255, 255, 255, 0.1);
$color-opacities-light-20: rgba(255, 255, 255, 0.2);
$color-opacities-light-40: rgba(255, 255, 255, 0.4);
$color-opacities-light-80: rgba(255, 255, 255, 0.8);
$color-opacities-light-05: rgba(255, 255, 255, 0.05);
$color-gradient-scrim-gradient-type: #000000;
$color-gradient-scrim-stops-0-position: #000000;
$color-gradient-scrim-stops-0-color: rgba(0, 0, 0, 0.5);
$color-gradient-scrim-stops-1-position: #000000;
$color-gradient-scrim-stops-1-color: #000000;
$color-gradient-scrim-opacity: #000000;
$color-gradient-light-gradient-type: #000000;
$color-gradient-light-stops-0-position: #000000;
$color-gradient-light-stops-0-color: #ffffff;
$color-gradient-light-stops-1-position: #000000;
$color-gradient-light-stops-1-color: #ffffff;
$color-gradient-light-opacity: #000000;
