:root {
  --ds-btn-primary-color: #{$white};
  --ds-btn-primary-bg: #{$theme-1-color-red-500};
  --ds-btn-primary-bg-hover: #{$theme-1-color-red-500};
  --border-md: 0;
}

.theme-1 {
  --ds-btn-primary-color: #{$theme-2-color-blue-50};
  --ds-btn-primary-bg: #{$theme-2-color-blue-400};
  --ds-btn-primary-bg-hover: #{$theme-2-color-blue-900};
  --border-md: 8px;
}
