@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');

:root {
  /*=============================================
  =                    Tokens                   =
  =============================================*/

  --flickr-pink: #f72585ff;
  --byzantine: #b5179eff;
  --purple: #7209b7ff;
  --purple-2: #560badff;
  --trypan-blue: #480ca8ff;
  --trypan-blue-2: #3a0ca3ff;
  --persian-blue: #3f37c9ff;
  --ultramarine-blue: #4361eeff;
  --dodger-blue: #4895efff;
  --vivid-sky-blue: #4cc9f0ff;

  --blue: #2d00f7ff;
  --electric-indigo: #6a00f4ff;
  --electric-violet: #8900f2ff;
  --purple-x-11: #a100f2ff;
  --purple-x-11-2: #b100e8ff;
  --electric-purple: #bc00ddff;
  --steel-pink: #d100d1ff;
  --steel-pink-2: #db00b6ff;
  --fashion-fuchsia: #e500a4ff;
  --magenta-process: #f20089ff;

  /*=============================================
  =                    Brand                    =
  =============================================*/

  --ds-color-primary: var(--purple-x-11);
  --ds-color-primary-hover: #2c974b;
  --ds-color-primary-active: #288b44;
  --ds-color-primary-disabled: #94d3a2;

  --ds-color-secondary: var(--vivid-sky-blue);
  --ds-color-secondary-hover: #f3f4f6;
  --ds-color-secondary-active: #e7eaee;
  --ds-color-secondary-disabled: #fafbfc;

  --ds-color-tertiary: var(--vivid-sky-blue);
  --ds-color-tertiary-hover: #f3f4f6;
  --ds-color-tertiary-active: #e7eaee;
  --ds-color-tertiary-disabled: #fafbfc;

  --ds-font-family: 'Cabin', 'HelveticaNeue', 'Helvetica', 'Arial', sans-serif;

  /*=============================================
  =                Font sizes                   =
  =============================================*/

  --ds-font-size-xl: 1.5rem; // 24px
  --ds-font-size-lg: 1.125rem; // 18px
  --ds-font-size-md: 1rem; // 16px
  --ds-font-size-sm: 0.875rem; // 14px
  --ds-font-size-xs: 0.75rem; // 12px

  /*=============================================
  =                Font weights                 =
  =============================================*/
  --ds-font-weight-light: 300;
  --ds-font-weight-normal: 400;
  --ds-font-weight-medium: 500;
  --ds-font-weight-semibold: 600;
  --ds-font-weight-bold: 700;
  --ds-font-weight-extrabold: 800;
  --ds-font-weight-black: 900;

  /*=============================================
  =                    Button                   =
  =============================================*/

  // font family
  --ds-btn-font-family: var(--ds-font-family);

  // border width
  --ds-btn-border-width: 1px;

  // letter spacing
  --ds-btn-letter-spacing: 0;

  // border radius
  --ds-btn-border-radius: 4px;

  // font size
  --ds-btn-font-size: var(--ds-font-size-md);

  // font weight
  --ds-btn-font-weight: var(--ds-font-weight-normal);

  // padding
  --ds-btn-padding: 11px 12px;

  // text color
  --ds-btn-text-primary: #fff;
  --ds-btn-text-secondary: #24292e;

  // background color
  --ds-btn-bg-color-primary: var(--ds-color-primary);
  --ds-btn-bg-color-secondary: var(--ds-color-secondary);

  // background color hover
  --ds-btn-bg-color-hover-primary: var(--ds-color-primary-hover);
  --ds-btn-bg-color-hover-secondary: var(--ds-color-secondary-hover);

  // background color active
  --ds-btn-bg-color-active-primary: var(--ds-color-primary-active);
  --ds-btn-bg-color-active-secondary: var(--ds-color-secondary-active);

  // border color
  --ds-btn-border-color-primary: var(--ds-color-primary);
  --ds-btn-border-color-secondary: #c7c7ca;

  // border color hover
  --ds-btn-border-color-hover-primary: var(--ds-color-primary-hover);
  --ds-btn-border-color-hover-secondary: #c7c7ca;

  // border color active
  --ds-btn-border-color-active-primary: var(--ds-color-primary-active);
  --ds-btn-border-color-active-secondary: #c7c7ca;
}
